---
layout: default
---

{% include minutes-to-read.html %}

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time class="dt-published">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d de" }}
        {% case m %} {% when '1' %}Janeiro {% when '2' %}Fevereiro {% when '3'
        %}Março {% when '4' %}Abril {% when '5' %}Maio {% when '6' %}Junho {%
        when '7' %}Julho {% when '8' %}Agosto {% when '9' %}Setembro {% when
        '10' %}Outubro {% when '11' %}Novembro {% when '12' %}Dezembro {%
        endcase %}
        {{ page.date | date: "de %Y" }}
      </time>
      <span class="reading-time"> - {{ minutesText }}</span>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name">{{
          page.author
        }}</span></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <div id="disqus_thread"></div>
    <script>
      (function() {
        var d = document,
          s = d.createElement("script");
        s.src = "https://fisica-moderna.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();

      var disqus_config = function() {
        this.language = "pt";
      };
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </div>
</article>
